doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Document
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		link(rel='stylesheet', href='resources/css/style.css')
	body
		.tim-bar
			img(src='resources/img/logo-tim.png')
			div
				a.loja(href="http://loja.tim.com.br/", target="blank") LOJA ONLINE
				a.meu-tim(href="https://meutim.tim.com.br/", target="blank") MEU TIM
				a.tim-site(href="http://www.tim.com.br/", target="blank") TIM.COM.BR
		section.widget
			img(src="resources/img/claude.png", alt="claude troisgros")
			div
				img(src="resources/img/icon.png", alt="icone tim gourmet")
				p Traga as receitas do chef 
					h4 
						span Claude Troisgros 
				p para sua casa, tenha acesso ao maior app de Delivery do Brasil e ainda
					br
					h4
						span concorra a uma refeição com ele!
				form(name='assine', action='#springUrl( $subscriptionURL )', method='post', onsubmit='return validate();')
					.hide
						| #if( $hiddenFieldsMap.entrySet() )
						| #foreach($hiddenField in $hiddenFieldsMap.entrySet())
						input(type='hidden', name='$hiddenField.key', value='$hiddenField.value')
						|               #end
						|               #end
					input#ddd.text.ddd(type='text', maxlength='2', name='ddd', placeholder='DDD', onkeyup="proximoCampo(this, 'tel')")
					input#phone.text.tel(type='text', maxlength='9', name='phone', placeholder='Telefone')
					.center-termos
						input#check(type='checkbox', name='check')
						label(for='check')
							span
							| Li e aceito os 
							a(href='termos.html') termos e condições de uso
					input#sendPin.mobile-btn(type='button', value='ASSINAR', name='sendPin', onclick='validate();')
					h1
						| Valor do serviço de R$ 3,99 por semana.
						br
						br
						b Experimente grátis por 3 dias.
		section.about
		section.feature.feature-1
		section.feature.feature-2
		section.feature.feature-2